In [ ]:

import pandas as pd
import requests
import time
import json

In [ ]:
Chanel_ID='UCpko_-a4wgz2u_DgDgd9fqA'

In [ ]:
def moredata(video_ID):
  
  video_stats=requests.get('https://www.googleapis.com/youtube/v3/videos?key='+Youtube_API_KEY+'&id='+video_ID
                           +'&part=statistics').json()
  view_count=video_stats['items'][0]['statistics']['viewCount']
  comment_count=video_stats['items'][0]['statistics']['commentCount']
  return view_count,comment_count

In [ ]:
def getDataFrame(data):

  
  response=requests.get('https://www.googleapis.com/youtube/v3/search?key='+Youtube_API_KEY+"&channelId="+Chanel_ID
                      +'&part=snippet,id&order=date&maxResults=1500').json()
  time.sleep(2)
  for video in response['items']:
    if video['id']['kind']=='youtube#video':
      video_time=video['snippet']['publishedAt']
      video_time=str(video_time.split('T')[0])
      video_ID=video['id']['videoId']
      video_title=video['snippet']['title']
      view_count,comment_count=moredata(video_ID)
      data=data.append({'videoID':video_ID,
                      'videoTitle':video_title,
                      'uploadDate':video_time
                      ,'viewCount':view_count,
                      'commentCount':comment_count},
                     ignore_index=True)
  return data

In [ ]:
data=pd.DataFrame(columns={'videoID','videoTitle','uploadDate','viewCount','commentCount'})
data=getDataFrame(data)

In [ ]:
data.head(10)

,viewCount,videoTitle,commentCount,uploadDate,videoID
0,4828,The Cast of &quot;Block Party&quot; Plays Woul...,17,2022-06-07,4IIqlG_oYNI
1,51321,I Accidentally Became a Meme: Confused Nick Young,164,2022-06-04,vgyZrejS6KI
2,26436,Ranking The Internets Favorite Japanese Snacks,136,2022-06-01,5ONo_Dg8KBs
3,77934,South-Asian Americans Try Each Other&#39;s Cha...,197,2022-04-30,7umBD9RR1Xo
4,157941,Single Woman Picks A Date Based On Their Cambo...,422,2022-04-09,7P6UzxySy20
5,79498,Eating With Metal Rods In My Mouth,119,2022-02-02,ai94ZSFAtTk
6,536307,We Ate Meals From Around The World For A Week ...,1009,2021-12-04,kWZPqYnKyaY
7,142227,This Tomboy Takes On Swasti&#39;s LA Lifestyle...,69,2021-12-01,NNtSorUh-Iw
8,114940,SEVENTEEN Plans Their Perfect Day In Seoul,253,2021-11-17,rVzQlQFw9R8
9,457360,I Tried Celeb Parenting Trends For A Week • Mo...,380,2021-09-11,gv0SCR9Z568